body{
    justify-content: center;
    margin: 0;
    display: flex;
    align-items: center;
    height: 100vh;
    background-color:  hsl(0, 0%, 95%);
}

#calculator{
    background-color:  hsl(0, 0%, 15%);
    font-family: Arial,sans-serif;
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    color: white;
    text-align: left;
    border: none;
    background-color:  hsl(0, 0%, 20%);
}


#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 25px;
    gap: 10px;
}

button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;

}

button:hover{
    background-color:  hsl(0, 0%, 40%);
}

button:active{
    background-color:  hsl(0, 0%, 60%);
}

.operator-btn{
    background-color:hsl(35, 95%, 45%);
}

.operator-btn:hover{
    background-color:hsl(35, 95%, 65%);
}

.operator-btn:hover:active{
    background-color:hsl(35, 95%, 75%);
}